@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Mulish Font Imported */

* {
    padding: 0;
    margin: 0;
    font-family: 'mulish';
    box-sizing: border-box;
}

/* Shared Section */

.premium-color {
    color: #FF5400;
}

/* Header Part Start From Here */

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 135px;
    align-items: center;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
}

.nav-container ul {
    display: flex;
    align-items: center;
}

.nav-container ul li {
    list-style: none;
}

.nav-container a {
    padding-right: 44px;
    text-decoration: none;
}


.header-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 15px;
}

.nav-text {
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-txt {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hamburger-menu {
    display: none;
}

/* Header Section End from here */

/* Banner Section Start From Here */

.banner-container {

    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    /* background-size: 1200px; */
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    margin-left: 135px;
    margin-right: 135px;
}

.banner-container .banner-heading {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 106px;
    padding-right: 287px;
    padding-left: 287px;
    border-radius: 8px;
}

.banner-container .banner-desc {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.banner-container .banner-input {
    padding: 16px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

.banner-container .banner-dropdown {
    padding: 16px;
    padding-right: 40px;
    border-radius: 8px;
    background: #FFF;
}

.banner-container .banner-btn {
    padding: 16px;
    padding-left: 30px;
    padding-right: 34px;
    border-radius: 8px;
    border: none;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.banner-input-container {
    padding: 10px 50px;
    padding-right: 1px;
    padding-left: 1px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* Image With Text start from here */

.img-with-text-container {
    display: flex;
    margin-top: 100px;
    margin-right: 130px;
    margin-left: 130px;
    gap: 60px;
}

.img-with-text-content .img-with-text-heading {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.img-with-text-content .img-with-text-first-desc {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.img-with-text-list li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    margin-left: 20px
}

.img-with-text-second-desc {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.img-with-text-btn {
    padding: 15px 35px;
    margin-top: 32px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.img-with-text-img img {
    width: 540px;
    height: 550px;
}

/* Choose your destination section start */
.destination-img-container {
    text-align: center;
    margin-top: 100px;
}

.destination-img-first-col {
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
    gap: 24px;
    margin-top: 20px;
}

.destination-img-second-col {
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
    gap: 24px;
    margin-top: 20px;
}

.destination-img-third-col {
    flex-wrap: wrap;
    display: flex;
    margin-left: 130px;
    gap: 24px;
    margin-top: 20px;
}

.destination-img-heading {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-img-desc {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.destination-img-interior-heading-1{
    position: absolute;
    left: 360px;
    top: 1720px;
    color: white;
}
.destination-img-interior-heading-2{
    position: absolute;
    left: 950px;
    top: 1720px;
    color: white;
}
.destination-img-interior-heading-3{
    color: white;
    position: absolute;
    left: 270px;
    top: 2030px;
}
.destination-img-interior-heading-4{
    color: white;
    position: absolute;
    left: 680px;
    top: 2030px;
}
.destination-img-interior-heading-5{
    color: white;
    position: absolute;
    left: 1120px;
    top: 2030px;
}
.destination-img-interior-heading-6{
    color: white;
    position: absolute;
    left: 300px;
    top: 2350px;
}
.destination-img-interior-heading-7{
    color: white;
    position: absolute;
    left: 900px;
    top: 2350px;
}

/* Mobile Responsive style */

@media screen and (max-width: 576px) {

    * {
        /* overflow-x: hidden; */
        max-width: 576px;
    }

    /* Header Section */
    .header-container nav {
        display: none;
    }

    .header-container {
        width: 100%;
        padding: 18px 20px;
        align-items: center;
    }

    .header-title {
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .header-content img {
        width: 40px;
    }

    .hamburger-menu {
        display: block;
        width: 20px;
    }

    /* Responsive Banner Section Start */
    .banner-container {
        width: 335px;
        height: 483px;
        padding: 70 20px;
        margin: 0 auto;
    }

    .banner-container .banner-heading {
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 8px;
        color: #FFF;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .banner-container .banner-desc {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    .banner-input-container {
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .banner-container .banner-input {
        width: 250px;
    }

    .banner-container .banner-dropdown {
        width: 250px;
    }

    .banner-container .banner-btn {
        width: 250px;
    }

    /* Img With text section start from here */

    .img-with-text-container {
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }

    .img-with-text-img img {
        width: 330px;
        height: 342px;
    }

    .img-with-text-heading {
        color: #131318;
        text-align: center;
        font-size: 10px;
        font-weight: 800;
    }

    .img-with-text-first-desc {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .img-with-text-list li {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .img-with-text-second-desc {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    /* Destination Section Start From Here */

    .destination-img-container {
        padding-right: 20px;
    }

    .destination-img-container img {
        width: 335px;
        height: 176px;
        /* padding-right: 20px; */
    }

    .destination-img-first-col {
        flex-direction: column;
        /* margin-left: -110px; */
        margin-left: 30px;

    }
    .destination-img-first-col img{
        width: 335px;
        height: 176px;
    }

    .destination-img-second-col {
        flex-direction: column;
        margin-left: 30px;

    }

    .destination-img-third-col {
        flex-direction: column;
        margin-left: 30px;

    }
    .destination-img-interior-heading-1{
        left: 150px;
        top: 2190px;
    }
    .destination-img-interior-heading-2{
        left: 150px;
        top: 2390px;
    }
    .destination-img-interior-heading-3{
        color: white;
        position: absolute;
        left: 150px;
        top: 2580px;
    }
    .destination-img-interior-heading-4{
        color: white;
        position: absolute;
        left: 120px;
        top: 2780px;
    }
    .destination-img-interior-heading-5{
        color: white;
        position: absolute;
        left: 150px;
        top: 2990px;
    }
    .destination-img-interior-heading-6{
        color: white;
        position: absolute;
        left: 130px;
        top: 3180px;
    }
    .destination-img-interior-heading-7{
        color: white;
        position: absolute;
        left: 135px;
        top: 3380px;
    }
}